<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="ru.npu3pak.ImageProcessing"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-sdk
            android:minSdkVersion="14"
            android:targetSdkVersion="19"/>
    <application
            android:label="@string/app_name"
            android:icon="@drawable/ic_launcher"
            android:allowBackup="true">

        <activity android:name=".ui.activities.MenuActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
                android:name=".ui.activities.CameraActivity"
                android:configChanges="orientation|screenSize"/>

        <activity
                android:name=".ui.activities.CameraPreviewActivity"
                android:parentActivityName=".ui.activities.MenuActivity"
                android:configChanges="orientation|screenSize"/>

        <activity
                android:name=".ui.activities.EffectsGalleryActivity"
                android:configChanges="orientation|screenSize"/>
        <activity
                android:name=".ui.activities.DynamicImageActivity"
                android:configChanges="orientation|screenSize"/>
        <activity android:name=".test.Test"/>

    </application>
</manifest>
